@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --red: #EF0000;
    --yellow: #FFEC44;
    --blue: #008AEE;
}

/* ---------- FONT STYLES ---------- */

h1, h2, h3, p {
    color: white;
    padding-bottom: 5vw;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 9vw;
    line-height: 10vw;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 7vw;
    line-height: 8.5vw;
}

p.highlighted {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 4.5vw;
    line-height: 6vw;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 3vw;
    line-height: 5vw;
}

/* ---------- ELEMENTOS GENERICOS ---------- */

body {
    background-color: black;
}

.intro_apartado {
    padding: 10vw 15vw 3vw;
    display: flex;
    flex-direction: column;
    color: white;
}

img {
    width: 70vw;
    height: 45vw;
    object-fit: cover;
    margin-bottom: 2vw;
    border-radius: 5vw;
}

img.border_shadow {
    border: 0.8vw solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ---------- NAV ---------- */

header {
    background-color: var(--blue);
    padding: 20px;
    position: sticky;
    top: 0;
    border-bottom: 0.8vw solid black;
}

header#header_index {
    background-color: black;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav > ul > li {
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    padding-right: 15px;
    font-size: 4vw;
    line-height: 6vw;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: var(--yellow);
    font-weight: bolder;
}

/* ---------- INDEX STICKERS ---------- */

main#index {
    background-color: #EF0000;
}

section#title_index {
    padding: 10vw 10vw 4vw;
    text-align: center;
}

section#title_index > h1 {
    font-size: 10vw;
    color: black;
    text-shadow: 2px 2px 3px var(--yellow);
}

section#title_index > p {
    font-size: 8vw;
    line-height: 9vw;
    color: black;
}

section#stickers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#stickers > article > img {
    width: 80vw;
    height: auto;
}

/* ---------- WORK || SERVICES ---------- */

section#intro_services > h2, p {
    padding-bottom: 5vw;
}

main#services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw 20vw;
}

main#services > section {
    background-color: #FFEC44;
    padding: 3vw;
    margin-bottom: 7vw;
    border-radius: 7vw;
}

main#services > section > p, h3 {
    color: black;
    padding-left: 3vw;
    padding-right: 3vw;
}

main#services > section > p {
    padding-bottom: 3vw;
}



/* ---------- ABOUT ||TEAM ---------- */
/* ---------- este estilo se puede crear como clase, lo estamos utilizando en main#services pero con distitna ID, se puede crear una clase de flex_column_center ---------- */

section#team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw 20vw;
}

section#team > article > img {
    height: 70vw;
}

section#team > h2 {
    color: white;
}

section#team > article > h3 {
    color: white;
}



/* ---------- FOOTER ---------- */

footer {
    background-color: #303030;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-end;
    padding: 5vw;
}

footer > iframe {
    height: auto;
    width: 35vw;
}

footer > address {
    height: auto;
    width: 100vw;
}

footer > address > p {
    padding: 0;
    padding-bottom: 1vw;
    font-style: normal;
}



